*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #888;
}

form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 300px;
	width: 250px;
}

form fieldset{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin-bottom: 10px; 
}

form fieldset.buttons{
	flex-direction: row;
	justify-content: center;
}

form fieldset input{
	padding: 5px;
	border-radius: 4px;
	margin: 5px;
}
